<div class="container justify-content-center" style="width: 30rem;">
  <div class="card shadow mt-5" style="background-color:#e1f5fe;">
    <div class="card-header bg-white shadow">
      <h4 class="text-center"> Reset Password</h4>
    </div>
    
    <div class="card-body">
      <%= form_with model: Current.user, url: post_password_user_index_path, local: true do |form| %>
        <%= form.label :email %>
        <%= form.text_field :email, class:"form-control shadow mb-3", placeholder:"please enter email" %>        

        <%= form.submit "Reset", class:"shadow" %>
      <% end %>
    </div>
  </div>
</div>
